<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<html lang="en">
<head style="padding-left:20px">
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>File upload and validation</title>

<div class="header">
  <h4 style="text-align: right">moka-guys/soteria {{ app_version }} </h4>
      <h4 style="text-align: right; font-size:20px; color:#465a81">{% if current_user.is_authenticated %}
      <i> User: {{ user }} </i><br>
      <a href="{{ url_for('logout') }}" class="icon-power" title="Log out">Logout</a>
      {% endif %}
      </h4>
           <!--<li><a href="/logout"> Logout <span class="sr-only"> Logout </span></a></li> -->
<hr/><h1>Illumina SampleSheet Upload Tool</h1><hr/>
</div>
</head>
<body style="margin: 30px 40px 40px 30px">
{% block body %}
{% endblock %}
</body>
<!--Stops file resubmission upon page refresh -->
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
</html>