{% extends 'base.html' %}
{% block body %}

<form action="{{ request.path }}" method="POST" class="..." style="width: 40%">

{{ form.csrf_token }}

{% if request.path == '/' %}
    <h6 style="color:#007bff">Please login below:</h6>
{% endif%}

{% if '/password_reset_request/' in request.path %}
    <h6 style="color:#007bff">Please enter your email below to reset your password:</h6>
{% endif%}

{% if '/password_reset/' == request.path %}
    <h6 style="color:#007bff">Please reset your password below</h6>
{% endif%}

{% if '/register/' == request.path %}
    <h6 style="color:#007bff">Please register below:</h6>

    {{ form.firstname(class_="form-control",placeholder="First Name")}}
    {% for error in form.firstname.errors %}
        {{ error }}
    {% endfor%}

    {{ form.surname(class_="form-control",placeholder="Last Name")}}
    {% for error in form.surname.errors %}
        {{ error }}
    {% endfor%}

{% endif%}

{% if '/password_reset/' not in request.path %}
    {{ form.email(class_="form-control",placeholder="Email")}}
    {% for error in form.email.errors %}
    {{ error }}
    {% endfor%}
{% endif%}

{% if '/password_reset_request/' not in request.path %}
    {{ form.pwd(class_="form-control",placeholder="Password")}}

    {% for error in form.pwd.errors %}
        {{ error }}
    {% endfor%}

{% endif%}

{% if '/register/' in request.path %}
    {{ form.cpwd(class_="form-control",placeholder="Confirm Password")}}

    {% for error in form.cpwd.errors %}
        {{ error }}
    {% endfor%}

{% endif%}

{% if '/password_reset/' in request.path %}
    {{ form.cpwd(class_="form-control",placeholder="Confirm Password")}}

    {% for error in form.cpwd.errors %}
        {{ error }}
    {% endfor%}

{% endif%}



<button type="submit" class="btn btn-block btn-primary mb-3"> Submit
{{ btn_action }}
</button>

<p>
{% if request.path not in ('/register/', '/password_reset/') %}
    New here?
    <a href="{{url_for('register')}}">Create account</a>
    <br>
{% endif %}

{% if request.path not in ('/password_reset/', '/') %}
    Already have an account?
    <a href="{{url_for('login')}}">Login</a>
    <br>
{% endif %}

{% if request.path in ('/', '/register/')  %}
    Forgotten your password?
    <a href="{{url_for('password_reset_request')}}">Reset password</a>
    </p>
{% endif %}

{% endblock %}